@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(var(--b3f,250,250,250),1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

a{
    text-decoration: none;
}

.conteudo{
    gap: 130px;
}

.hero{
    gap: 35px
}

.hero-logIn{
    width: 350px;
    height: 530px;
    gap: 10px;
}

.profile-log{
    width: 350px;
    height: 350px;
    gap: 20px;
}

.logo{
    width: 175px;
    margin-top: 10px;
}

.avatar{
    border-radius: 50%;
    width: 86px;
    height: 86px;
    margin: 0px 0 10px 0;
}

.hero-forgot{
    width: 350px;
    height: 100px;
    gap: 5px;
}

.obter-app{
    padding: 10px 0;
}

.lojas{
    gap: 8px;
}

.icones-lojas{
    height: 40px;
}

.rodape{
    width: 1100px;
    gap: 15px;
}

.app-utilities div{
    margin-right: 16px;
    margin-bottom: 7px;
}

.app-copy{
    gap: 15px;
}

.rodape div a{
    font-size: 12px;
    line-height: 16px;
    color: rgba(var(--f52,142,142,142),1);
}